@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.container-height {
  height: calc(100vh - 138px); /* Adjust for the 60px navbar height */
}

.admin-container-height {
  height: calc(100vh - 120px); /* Adjust for the 60px navbar height */
}

.login-container-height {
  height: calc(100vh - 60px); /* Adjust for the 60px navbar height */
}

.cart-image-container {
  width: 100px; /* Set your desired width */
  height: 100px; /* Set your desired height */
  border: 1px solid #ccc; /* Optional border styling */
  overflow: hidden; /* Ensure the image doesn't exceed the container */
}

.bg-custom {
  background-color: #efefef !important;
}

.slider-wrapper {
  height: 400px;
}

.slider img {
  height: 400px;
  object-fit: cover;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999; /* Higher z-index value */
  display: flex;
  justify-content: center;
  align-items: center;
}
